[Desktop Entry]
Categories=Utility;Calculator;
Comment=Calculator
Exec=deepin-calculator
GenericName=Calculator
Icon=deepin-calculator
Name=Deepin Calculator
StartupNotify=true
TryExec=deepin-calculator
Type=Application
X-Deepin-ManualID=deepin-calculator
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!
Comment[ar]=الحاسبة
Comment[ast]=Calculadora
Comment[bg]=Калкулатор
Comment[ca]=Calculadora
Comment[cs]=Kalkulačka
Comment[da]=Lommeregner
Comment[de]=Taschenrechner
Comment[es]=Calculadora
Comment[es_419]=Calculadora
Comment[et]=Kalkulaator
Comment[fi]=Laskin
Comment[fr]=Calculatrice
Comment[hr]=Kalkulator
Comment[id]=Kalkulator
Comment[it]=Calcolatrice
Comment[lt]=Skaičiuotuvas
Comment[ms]=Kalkulator
Comment[ne]=क्याल्कुलेटर
Comment[nl]=Rekenmachine
Comment[pl]=Kalkulator
Comment[pt]=Calculadora
Comment[pt_BR]=Calculadora
Comment[ru]=Калькулятор
Comment[sq]=Makinë llogaritëse
Comment[sr]=Калкулатор
Comment[tr]=Hesap Makinesi
Comment[uk]=Калькулятор
Comment[zh_CN]=计算器
Comment[zh_TW]=計算機
GenericName[ar]=الحاسبة
GenericName[ast]=Calculadora
GenericName[bg]=Калкулатор
GenericName[ca]=Calculadora
GenericName[cs]=Kalkulačka
GenericName[da]=Lommeregner
GenericName[de]=Taschenrechner
GenericName[es]=Calculadora
GenericName[es_419]=Calculadora
GenericName[et]=Kalkulaator
GenericName[fi]=Laskin
GenericName[fr]=Calculatrice
GenericName[hr]=Kalkulator
GenericName[id]=Kalkulator
GenericName[it]=Calcolatrice
GenericName[lt]=Skaičiuotuvas
GenericName[ms]=Kalkulator
GenericName[ne]=क्याल्कुलेटर
GenericName[nl]=Rekenmachine
GenericName[pl]=Kalkulator
GenericName[pt]=Calculadora
GenericName[pt_BR]=Calculadora
GenericName[ru]=Калькулятор
GenericName[sq]=Makinë llogaritëse
GenericName[sr]=Калкулатор
GenericName[tr]=Hesap Makinesi
GenericName[uk]=Калькулятор
GenericName[zh_CN]=计算器
GenericName[zh_TW]=計算機
Name[ar]=حاسبة ديبين
Name[ast]=Deepin Calculator
Name[bg]=Deepin Калкулатор
Name[ca]=Calculadora del Deepin
Name[cs]=Kalkulačka
Name[da]=Deepin lommeregner
Name[de]=Deepin Taschenrechner
Name[es]=Calculadora Deepin
Name[es_419]=Calculadora Deepin
Name[et]=Deepin kalkulaator
Name[fi]=Deepinin Laskin
Name[fr]=Calculatrice Deepin
Name[hr]=Deepin kalkulator
Name[id]=Kalkulator Deepin
Name[it]=Deepin Calculator
Name[lt]=Deepin skaičiuotuvas
Name[ms]=Kalkulator Deepin
Name[ne]=डिपिन क्याल्कुलेटर
Name[nl]=Deepin Rekenmachine
Name[pl]=Kalkulator Deepin
Name[pt]=Deepin Calculator
Name[pt_BR]=Calculadora Deepin
Name[ru]=Калькулятор Deepin
Name[sq]=Makinë llogaritëse Deepin
Name[sr]=Дипин Калкулатор
Name[tr]=Deepin Hesap Makinesi
Name[uk]=Калькулятор Deepin
Name[zh_CN]=深度计算器
Name[zh_TW]=Deepin 計算機

