[Desktop Entry]
Categories=Utility;Calculator;
Comment=Calculator
Exec=deepin-calculator
GenericName=Calculator
Icon=deepin-calculator
Name=Deepin Calculator
StartupNotify=true
TryExec=deepin-calculator
Type=Application
X-Deepin-ManualID=deepin-calculator
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!
Comment[ar]=الحاسبة
Comment[ast]=Calculadora
Comment[bg]=Калкулатор
Comment[bn]=ক্যালকুলেটর
Comment[ca]=Calculadora
Comment[cs]=Kalkulačka
Comment[da]=Lommeregner
Comment[de]=Taschenrechner
Comment[el]=Αριθμομηχανή
Comment[es]=Calculadora
Comment[es_419]=Calculadora
Comment[et]=Kalkulaator
Comment[fi]=Laskin
Comment[fr]=Calculatrice
Comment[hr]=Kalkulator
Comment[hu]=Számológép
Comment[id]=Kalkulator
Comment[it]=Calculator
Comment[ko]=계산기
Comment[ku_IQ]=ژمێرەر
Comment[ky]=эсептегич
Comment[lt]=Skaičiuotuvas
Comment[mn]=Тооцоолуур
Comment[ms]=Kalkulator
Comment[ne]=क्याल्कुलेटर
Comment[nl]=Rekenmachine
Comment[pl]=Kalkulator
Comment[pt]=Calculadora
Comment[pt_BR]=Calculadora
Comment[ro]=Calculator
Comment[ru]=Калькулятор
Comment[sk]=Kalkulačka
Comment[sq]=Llogaritëse
Comment[sr]=Калкулатор
Comment[tr]=Hesap Makinesi
Comment[uk]=Калькулятор
Comment[zh_CN]=计算器
Comment[zh_HK]=計數機
Comment[zh_TW]=計算機
GenericName[ar]=الحاسبة
GenericName[ast]=Calculadora
GenericName[bg]=Калкулатор
GenericName[bn]=ক্যালকুলেটর
GenericName[ca]=Calculadora
GenericName[cs]=Kalkulačka
GenericName[da]=Lommeregner
GenericName[de]=Taschenrechner
GenericName[el]=Αριθμομηχανή
GenericName[es]=Calculadora
GenericName[es_419]=Calculadora
GenericName[et]=Kalkulaator
GenericName[fi]=Laskin
GenericName[fr]=Calculatrice
GenericName[hr]=Kalkulator
GenericName[hu]=Számológép
GenericName[id]=Kalkulator
GenericName[it]=Calculator
GenericName[ko]=계산기
GenericName[ku_IQ]=ژمێرەر
GenericName[ky]=эсептегич
GenericName[lt]=Skaičiuotuvas
GenericName[mn]=Тооцоолуур
GenericName[ms]=Kalkulator
GenericName[ne]=क्याल्कुलेटर
GenericName[nl]=Rekenmachine
GenericName[pl]=Kalkulator
GenericName[pt]=Calculadora
GenericName[pt_BR]=Calculadora
GenericName[ro]=Calculator
GenericName[ru]=Калькулятор
GenericName[sk]=Kalkulačka
GenericName[sq]=Llogaritëse
GenericName[sr]=Калкулатор
GenericName[tr]=Hesap Makinesi
GenericName[uk]=Калькулятор
GenericName[zh_CN]=计算器
GenericName[zh_HK]=計數機
GenericName[zh_TW]=計算機
Name[ar]=حاسبة ديبين
Name[ast]=Deepin Calculator
Name[bg]=Deepin Калкулатор
Name[bn]=ডিপিন ক্যালকুলেটর
Name[ca]=Calculadora del Deepin
Name[cs]=Kalkulačka
Name[da]=Deepin lommeregner
Name[de]=Deepin Taschenrechner
Name[el]=Αριθμομηχανή Deepin
Name[es]=Calculadora Deepin
Name[es_419]=Calculadora Deepin
Name[et]=Deepin kalkulaator
Name[fi]=Deepin Laskin
Name[fr]=Calculatrice Deepin
Name[hr]=Deepin kalkulator
Name[hu]=Deepin számológép
Name[id]=Kalkulator Deepin
Name[it]=Deepin Calculator
Name[ko]=Deepin 계산기
Name[ku_IQ]=ژمێرەری Deepin
Name[ky]=Deepin эсептегич
Name[lt]=Deepin skaičiuotuvas
Name[mn]=Дээпин тооцоолуур
Name[ms]=Kalkulator Deepin
Name[ne]=डिपिन क्याल्कुलेटर
Name[nl]=Deepin Rekenmachine
Name[pl]=Kalkulator Deepin
Name[pt]=Deepin Calculator
Name[pt_BR]=Calculadora Deepin
Name[ro]=Calculatorul Deepin
Name[ru]=Калькулятор Deepin
Name[sk]=Deepin Kalkulačka
Name[sq]=Llogaritëse Deepin
Name[sr]=Дипин Калкулатор
Name[tr]=Deepin Hesap Makinesi
Name[uk]=Калькулятор Deepin
Name[zh_CN]=深度计算器
Name[zh_HK]=Deepin 計數機
Name[zh_TW]=Deepin 計算機

