[Desktop Entry]
Categories=Utility;Calculator;
Comment=Calculator
Exec=deepin-calculator
GenericName=Calculator
Icon=deepin-calculator
Keywords=calculator;scientific;maths;numbers;deepin;dde;
Name=Deepin Calculator
StartupNotify=true
TryExec=deepin-calculator
Type=Application
X-Deepin-ManualID=deepin-calculator
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!
Comment[am_ET]=ማስሊያ
Comment[ar]=الحاسبة
Comment[ast]=Calculadora
Comment[az]=Hesablayıcı
Comment[bg]=Калкулатор
Comment[bn]=ক্যালকুলেটর
Comment[bo]=རྩིས་ཆས།
Comment[br]=Jederezig
Comment[ca]=Calculadora
Comment[cs]=Kalkulačka
Comment[da]=Lommeregner
Comment[de]=Taschenrechner
Comment[el]=Αριθμομηχανή
Comment[en_AU]=Calculator
Comment[es]=Calculadora
Comment[et]=Kalkulaator
Comment[fa]=ماشین حساب
Comment[fi]=Laskin
Comment[fr]=Calculatrice
Comment[gl_ES]=Calculadora
Comment[hi_IN]=गणक
Comment[hr]=Kalkulator
Comment[hu]=Számológép
Comment[id]=Kalkulator
Comment[it]=Calcolatrice
Comment[km_KH]=ម៉ាស៊ីនគិតលេខ
Comment[ko]=계산기
Comment[ku_IQ]=ژمێرەر
Comment[ky]=эсептегич
Comment[lt]=Skaičiuotuvas
Comment[mn]=Тооцоолуур
Comment[ms]=Kalkulator
Comment[ne]=क्याल्कुलेटर
Comment[nl]=Rekenmachine
Comment[pl]=Kalkulator
Comment[pt]=Calculadora
Comment[pt_BR]=Calculadora
Comment[ro]=Calculator 
Comment[ru]=Калькулятор
Comment[sk]=Kalkulačka
Comment[sl]=Kalkulator
Comment[sq]=Llogaritës
Comment[sr]=Калкулатор
Comment[sv]=Kalkylator
Comment[tr]=Hesap Makinesi
Comment[tzm]=Tamessiḍent
Comment[ug]=ھېسابلىغۇچ
Comment[uk]=Калькулятор
Comment[vi]=Máy tính
Comment[zh_CN]=计算器
Comment[zh_HK]=計數機
Comment[zh_TW]=計算器
GenericName[am_ET]=ማስሊያ
GenericName[ar]=الحاسبة
GenericName[ast]=Calculadora
GenericName[az]=Hesablayıcı
GenericName[bg]=Калкулатор
GenericName[bn]=ক্যালকুলেটর
GenericName[bo]=རྩིས་ཆས།
GenericName[br]=Jederezig
GenericName[ca]=Calculadora
GenericName[cs]=Kalkulačka
GenericName[da]=Lommeregner
GenericName[de]=Taschenrechner
GenericName[el]=Αριθμομηχανή
GenericName[en_AU]=Calculator
GenericName[es]=Calculadora
GenericName[et]=Kalkulaator
GenericName[fa]=ماشین حساب
GenericName[fi]=Laskin
GenericName[fr]=Calculatrice
GenericName[gl_ES]=Calculadora
GenericName[hi_IN]=गणक
GenericName[hr]=Kalkulator
GenericName[hu]=Számológép
GenericName[id]=Kalkulator
GenericName[it]=Calcolatrice
GenericName[km_KH]=ម៉ាស៊ីនគិតលេខ
GenericName[ko]=계산기
GenericName[ku_IQ]=ژمێرەر
GenericName[ky]=эсептегич
GenericName[lt]=Skaičiuotuvas
GenericName[mn]=Тооцоолуур
GenericName[ms]=Kalkulator
GenericName[ne]=क्याल्कुलेटर
GenericName[nl]=Rekenmachine
GenericName[pl]=Kalkulator
GenericName[pt]=Calculadora
GenericName[pt_BR]=Calculadora
GenericName[ro]=Calculator 
GenericName[ru]=Калькулятор
GenericName[sk]=Kalkulačka
GenericName[sl]=Kalkulator
GenericName[sq]=Llogaritës
GenericName[sr]=Калкулатор
GenericName[sv]=Kalkylator
GenericName[tr]=Hesap Makinesi
GenericName[tzm]=Tamessiḍent
GenericName[ug]=ھېسابلىغۇچ
GenericName[uk]=Калькулятор
GenericName[vi]=Máy tính
GenericName[zh_CN]=计算器
GenericName[zh_HK]=計數機
GenericName[zh_TW]=計算器
Name[am_ET]=ዲፕኢን ማስሊያ
Name[ar]=حاسبة ديبين
Name[ast]=Deepin Calculator
Name[az]=Deepin Hesablayıcı
Name[bg]=Deepin Калкулатор
Name[bn]=ডিপিন ক্যালকুলেটর
Name[bo]=གཏིང་ཟབ་རྩིས་ཆས།
Name[br]=Jederezig Deepin
Name[ca]=Calculadora del Deepin
Name[cs]=Kalkulačka
Name[da]=Deepin lommeregner
Name[de]=Deepin Taschenrechner
Name[el]=Αριθμομηχανή Deepin
Name[en_AU]=Deepin Calculator
Name[es]=Calculadora
Name[et]=Deepin kalkulaator
Name[fa]=ماشین حساب دیپین
Name[fi]=Deepin Laskin
Name[fr]=Calculatrice Deepin
Name[gl_ES]=Deepin Calculadora
Name[hi_IN]=दीपिन गणक
Name[hr]=Deepin kalkulator
Name[hu]=Deepin® Számológép
Name[id]=Kalkulator Deepin
Name[it]=Calcolatrice di Deepin
Name[km_KH]=ម៉ាស៊ីនគិតលេខ Deepin
Name[ko]=Deepin 계산기
Name[ku_IQ]=ژمێرەری Deepin
Name[ky]=Deepin эсептегич
Name[lt]=Deepin skaičiuotuvas
Name[mn]=Дээпин тооцоолуур
Name[ms]=Kalkulator Deepin
Name[ne]=डिपिन क्याल्कुलेटर
Name[nl]=Deepin Rekenmachine
Name[pl]=Kalkulator Deepin
Name[pt]=Calculadora do Deepin
Name[pt_BR]=deepin Calculadora
Name[ro]=Calculatorul Deepin 
Name[ru]=Калькулятор Deepin
Name[sk]=Deepin Kalkulačka
Name[sl]=Deepin kalkulator
Name[sq]=Llogaritës Deepin
Name[sr]=Дипин Калкулатор
Name[sv]=Deepin Kalkylator
Name[tr]=Deepin Hesap Makinesi
Name[tzm]=Tamessiḍent Deepin
Name[ug]=Deepin ھېسابلىغۇچى
Name[uk]=Калькулятор Deepin
Name[vi]=Máy tính Deepin
Name[zh_CN]=深度计算器
Name[zh_HK]=Deepin 計數機
Name[zh_TW]=Deepin 計算器

